<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035822977996-7r1up0avlf296ho78knjsqhbkf2s1994.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035822977996-7r1up0avlf296ho78knjsqhbkf2s1994</string>
	<key>API_KEY</key>
	<string>AIzaSyCPULkvo9-QzyRS89D1L-M5xkalNvuwpQE</string>
	<key>GCM_SENDER_ID</key>
	<string>1035822977996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butterfree.sample</string>
	<key>PROJECT_ID</key>
	<string>sample-e3237</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-e3237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035822977996:ios:86eaeaa4946e89735a4369</string>
</dict>
</plist>